#mainBody {
    background-color: black;
    font-family: "Satoshi-Variable", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#cardContainer .row {
    height: 400px;
}

#nameContainer {
    font-size: 100px;
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 100px;
}


#cardContainer {
    margin: auto;
}

.auto-type {
    color: #f7dc66;
}

.card-title {
    text-align: left;
}

#educationCard {
    background-color: #2e9599;
    margin: 5px;
    padding: 2em 2em 2em 2em;
    border-radius: 3.5em;
}

#aboutMe {
    background-color: #2e9599;
    margin: 5px;
    padding: 2em 2em 2em 2em;
    border-radius: 3.5em;
}

#aboutMePic {
    margin: auto;
    width: 100px;
}

#educationCard:hover img {
    opacity: 20%;
}



#scroll-container {
    font-size: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}